<div class="app">
  <div class="app-header">
    <h5 class="align-middle">
      Flytbase Movable Box
    </h5>
    <div class="app-header-right">
      <button 
        class="mr-2" 
        nz-button 
        (click)="addBox()"
      >
        Add Box
      </button>
      <button 
        class="mr-2" 
        nz-button 
        (click)="clearBoxes()"
      >
        Clear
      </button>
      <nz-switch 
        class="mr-2" 
        [(ngModel)]="boxesInfo.toggleEnable" 
        nzCheckedChildren="Enabled" 
        nzUnCheckedChildren="Disabled">
      </nz-switch>
    </div>
  </div>
  <alert type="success">Enjoy!</alert>
  <div class="app-posts container" id="container">
    <div
      *ngFor="let square of boxesInfo.boxes; let i = index"
      class="box-container m-2"
    >
      <div
        class="card square"
        (click)="selectBox(i)"
        [ngStyle]="{
          'z-index': i,
          background: selectedBox.id == i ? 'yellow' : ''
        }"
        [id]="i"
      >
        <h4 class="mx-auto">
          {{i}}
        </h4>
      </div>
    </div>
  </div>
</div>